* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  scrollbar-width: none;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
 
}
.parent {
  display: flex;
  width: 900px;
  height: 500px;
  border-radius: 10px;
  justify-content: center;
  padding-bottom: 20px;
}

section {
  width: 300px;
  height: 100%;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  width: 50px;
  height: 33px;
}
.sec1 {
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sec1 > button {
  color: hsl(31, 77%, 52%);
}
.sec2 {
  background: hsl(184, 100%, 22%);
}
.sec2 > button {
  color: hsl(184, 100%, 22%);
}
.sec3 {
  background: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  @media only screen and (min-width: 900px) {
    border-top-right-radius: 10px;
  }
}
.sec3 > button {
  color: hsl(179, 100%, 13%);
}

h1 {
  color: white;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 30px;
}
button {
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  margin-top: 45px;
  width: 70%;
  background-color: hsl(0, 0%, 95);
  padding: 13px 34px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s;
  border: 2px solid transparent;
}
button:hover {
  background: transparent;
  color: white;
  border: 2px solid white;
}

p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  height: 120px;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .parent {
    flex-wrap: wrap;
  }
  .sec2 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .sec3 {
    border-bottom-left-radius: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .sec2 {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .sec1 {
       border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}
